html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif;
}


button {
	background-color: #c8b7b7;
	border: none;
}

#map {
	height: 100%;
	width: 100%;
}





.side {
	width: 25%;
	position: absolute;
	z-index: 1;
}

.sideNav {

}

/*//////////////////////////////////LIST///////////////////////////////////////////*/

.listDiv {
	background-color: white;
}

.listUl {
	list-style: none;
	margin: 0;
	padding: 0;
}

li {
	padding: 10px 20px;
	border-bottom: 1px solid #b59f9f;
	cursor: pointer;
	color: #b59f9f;
}

li:hover {
	background-color: #e3dbdb;
}

.selected {
	background-color: #e3dbdb;
}

/*////////////////////////////////////////////scroll//////////////////////////////////////////*/



/*////////////////////////////////////////////ATTRIBUTION////////////////////////////////////*/

.attribution {
	padding: 7px 10px;
	font-size: 0.8em;
	background-color: #916f6f;
	color: #c8b7b7;
	letter-spacing: 0.15em;
}

/*////////////////////////////////////////////SEARCH///////////////////////////////////////*/

.form {
	margin: 0;
}


.searchInput{
	display: inline-block;
	width: 75%;
	height: 40px;
	vertical-align: top;
	border: none;
	padding: 5px;
	box-sizing: border-box;
}

.searchBtn {
	display: inline-block;
	width: 25%;
	height: 40px;
	vertical-align: top;
	padding: 0;
}


.searchImg {
	width: 50%;
}

.collapseBtn {
	position: absolute;
	z-index: 1;
	height: 30px;
	background-color: darkgrey;
	color: white;
}

.displayNone {
	/*display: none !important;*/
	
	position: absolute;
	

}



/*div.gmnoprint { padding-left: 50px; }*/


.left {
	width: 25%;
	height: 100%;
	display: inline-block;
	
	vertical-align: top;
	background-color: lightgrey;
	overflow: auto;

}

.rigth {
	height: 100%;
	width: 75%;
	display: inline-block;

}

.fullWidth {
	width: 100% !important;
	/*-webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;*/
}

/*body {
	width: 900px;
}*/