html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    overflow: hidden;
}

/*/////////////////////////////////////////MAP/////////////////////////////////////////*/

.right {
    height: 100%;
    width: 75%;
    display: inline-block;
}

#map {
    height: 100%;
    width: 100%;
}

.fullWidth {
    width: 100% !important;
}

/*////////////////////////////////////////NAVIGATION//////////////////////////////////*/

.left {
    width: 25%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    background-color: lightgrey;
    overflow: auto;
}

/*//////////////////////////////////LIST///////////////////////////////////////////*/

.listDiv {
    background-color: #004455;
}

.listUl {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    padding: 10px 20px;
    border-bottom: 1px solid #006680;
    cursor: pointer;
    color: #0088aa;
}

li:hover,
.selected {
    background-color: #00aad4;
    color: white;
    border-right: 1px solid #0088aa;
}

/*////////////////////////////////////////////scroll//////////////////////////////////////////*/

::-webkit-scrollbar {
    background-color: #006680;
    border: none;
    width: 9px;
}

::-webkit-scrollbar-button {
    display: none;
}

::-webkit-scrollbar-track {
    border: none;
}

::-webkit-scrollbar-thumb {
    background-color: #00aad4;
}


/*////////////////////////////////////////////ATTRIBUTION////////////////////////////////////*/

.attribution {
    padding: 7px 10px;
    font-size: 0.7em;
    background-color: #00aad4;
    color: #004455;
    letter-spacing: 0.15em;
    border-right: 1px solid #0088aa;
    border-bottom: 1px solid #0088aa;
}

/*////////////////////////////////////////////SEARCH///////////////////////////////////////*/

.form {
    margin: 0;
}

button {
    background-color: #004455;
    border: none;
}

button:focus {
    outline: 0;
}

.searchInput {
    display: inline-block;
    width: 70%;
    height: 40px;
    vertical-align: top;
    border: none;
    padding: 5px;
    box-sizing: border-box;
}

.btnDiv {
    width: 30%;
    display: inline-block;
}

.searchBtn,
.filterBtn {
    display: inline-block;
    width: 50%;
    height: 40px;
    vertical-align: top;
    padding: 0;
    color: white;
    font-size: 1.3em;
    box-sizing: border-box;
}

.searchBtn:hover,
.filterBtn:hover {
    background-color: #006680;
}

.filterBtn {
    border-left: 1px solid #006680;
}

.collapseBtn {
    position: absolute;
    z-index: 1;
    background-color: #004455;
    color: white;
    font-size: 1.3em;
}

.displayNone {
    display: none !important;
	/*position: absolute;*/
}


/*/////////////////////////////////////////// INFOWINDOW ///////////////////////////////////////////////////*/

h3 {
    color: #004455;
    margin: 0;
}

address {
    padding: 5px 0;
}

.ratingSpan {
    font-size: 2em;
    color: #00aad4;
}

.rating {
    padding: 5px 0;
    margin: 0;
    line-height: 1em;
}

a {
    color: #004455;
    text-decoration: none;
}

a:hover {
    color: #00aad4;
}

/*///////////////////////////////MEDIA QUERY/////////////////////////////////////////*/

@media (max-width: 900px) {
    .btnDiv {
        width: 40%;
    }

    .searchInput {
        width: 60%;
    }
}

@media (max-width: 650px) {
    .searchBtn,
    .filterBtn {
        font-size: 1em;
    }
}

@media (max-width: 530px) {
    li {
        font-size: 0.8em;
    }

    .attribution {
        font-size: 0.5em;
    }

    .btnDiv,
    .searchInput {
        width: 100%;
    }
}

@media (max-width: 450px) {
    .right {
        width: 100% !important;
        display: inline;
    }

    .left {
        width: 112px;
        position: absolute;
        z-index: 1;
    }

    .collapseBtn {
        left: 112px;
    }

    .moveBtn {
        left: 0;
    }
}